.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

body {
  margin-top: 5rem;
  background-color: #ddd6fe;
}

input {
  margin-top: 1rem;
  padding: 1rem;
  width: 40%;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 2.5px 2.5px #d1d5db;
}

.meaning {
  margin: 1rem;
  font-size: large;
  font-weight: bolder;
}
